.checkin-form {
    display: flex;
    flex-direction: column;
    gap:25px;
    margin: 25px 0;
}

.checkin-form label {
    margin-bottom:8px;
}

.checkin-form input {
    padding: 3px 8px;
}

.checkin-form select, textarea {
    padding: 5px;
}

.checkin-form > div {
    display: flex;
    flex-direction: column;
}

.checkin-form-button-container {
    justify-content: flex-end;
    flex-direction: row !important;
    gap:8px;
}