.contact-name-wrapper {
    display:flex;
    align-items: center;
    gap:12px;
}

.avatar-circle {
    width: 37px;
    height:37px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:14px;
    flex-shrink:0;
}

.av-blue {
    background-color: #3C649F;
}

.av-pink {
    background-color: #FF3763;
}

.av-green {
    background-color: #48AE30;
}

.av-orange {
    background-color: #FF8D2A;
}

