.login-signup form {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    gap: 10px;
}

.login-signup input {
    border:none;
    border-bottom: 2px solid gray;
    padding:5px 0;
}

.login-signup input:focus {
    outline:none;
}

.login-signup button {
    margin-top:8px;
}